jumbotron {
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin-bottom: 0em;
    background-color: #fff;
  }

@media (min-width: 768px) {
    .jumbotron {
      padding-top: 6rem;
      padding-bottom: 6rem;
    }
  }
  
.jumbotron p:last-child {
    margin-bottom: 0;
  }
  
.jumbotron h1 {
    font-weight: 500;
}
  
.jumbotron .container {
    max-width: 80rem;
}