{% load static %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'projects/style.css' %}">
    <title>Django Projects</title>
</head>

<body>
    <main role="main">
        <div class="jumbotron text-center h-100">
            <h1>Project details</h1>
            <h3 class="font-weight-bolder display-4 mt-5">{{ project.title }}</h3>
            <p class="lead text-left px-5 mx-5" style="margin: 80px;font-size:32px;">{{ project.summary }}</p>
            <img src="{{ project.image.url }}" height="500px" width="600px"><br>
            <a class="btn btn-primary btn-lg mt-5" href="{% url 'index' %}" role="button"> Back to home </a>
        </div>

        <footer class="text-muted">
            <div class="container mt-3">
                <p class="float-right"><a href="#">Back to top</a></p>
                <p> Django Projects &copy; Alin Babu - 2020</p>
            </div>
        </footer>
    </main>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
        </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
        </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous">
        </script>
</body>

</html>